<!DOCTYPE html>

<html>

<head>

<title>About CrazyPT</title>

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="/static/css/about.css">
<link rel="stylesheet" href="/static/css/animations.css">   

</head>


<body>


<nav>

<h2>CrazyPT 🤖</h2>

</nav>


<section class="hero">


<h1>
About CrazyPT
</h1>


<p>

CrazyPT is an AI chatbot created by Rudra Deepak.

<br><br>

Built using:

<br>

Python 🐍
<br>
Flask
<br>
Gemini AI
<br>
HTML
<br>
CSS
<br>
JavaScript

</p>


</section>


</body>

</html>